* {
    padding: 0;
    margin: 0;
    font-family: 'Mulish', sans-serif;
}

:root {
    --primary-blue: #0d6efd;
    --text-color: #000;
    --white-color: #fff;
    --border-color: #dbdbdb;
    --text-color: #333;
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --box-shadow-hover: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    --border-radius: 20px;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    overflow-x: hidden;
}

body {
    background-color: #f5f5f7;
    overflow: hidden;
}
.app {
    margin-top: 5rem;
}

/* cuộn đầu trang */
#cuondau {
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 48px;
    right: 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 10;
}
#cuondau:hover{
    background-color: #c70e9f;
}
/* phần header */
.navbar{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    backdrop-filter: saturate(180%) blur(20px);
    background: rgba(251, 251, 253, .8);
}
/* phần navbar */
.search-giohang:hover,
.nav-link:hover,
.loginout:hover{
    opacity: 0.7;
}

/* 2 iphone */
.iphone_trai {
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    height: 100%;
}

.iphone_trai .intro {
    text-align: center;
}

.iphone_trai img {
    width: 66%;
    display: block;
    margin: 0 auto;
    border-radius: var(--border-radius);
    transition: transform .9s;
}

.iphone_phai {
    background-color: #fafafa;
    display: flex;
    align-items: center;
    /* padding: 27px 0; */
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    /* min-height: 580px; */
    height: 100%;
}

.iphone_phai img {
    width: 56%;
    border-radius: var(--border-radius);
    transition: transform .9s;
}

.iphone_trai:hover img,
.iphone_phai:hover img {
    transform: scale(1.08);
}

.iphone_trai:hover,
.iphone_phai:hover{
    box-shadow: var(--box-shadow-hover);
}

/* 3 thiết kế */

.thietke {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    transition: transform .6s;
    min-height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.thietke:hover {
    transform: scale(1.08);
    box-shadow: var(--box-shadow-hover);
}


/* ip17 và switch security */

.ios17 {
    background: #fff url('../images/home-img/ios17__background_large.jpg') bottom no-repeat;
    width: 100%;
    height: 560px;
    padding-top: 40px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.intro {
    text-align: center;
}

.ios17:hover,
.switch:hover,
.security:hover {
    box-shadow: var(--box-shadow-hover);
}

.intro h3,
.switch h3,
.security h3 {
    font-size: 4.6rem;
    line-height: 4.9rem;
    font-weight: 700;
}

.intro p {
    font-size: 2rem;
}

.switch {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 460px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.switch h3 {
    margin: 44px auto;
    width: 80%;
    z-index: 1;
}

.switch img {
    margin-top: -10%;
    border-radius: var(--border-radius);
}


.security {
    background: #fff url('../images/home-img/privacy_small.jpg') no-repeat bottom;
    min-height: 460px;
    padding-top: 46px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.security h3 {
    text-align: center;
}

/*video intro mac*/
.mac_tieude {
    font-size: 6.6rem;
}

.mac_slogan {
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 3.2rem;
}

/* danh sách lợi ích */

.apple-watch,
.airpods,
.ipad-air {
    height: 400px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    transition: transform .6s;
}

.apple-watch:hover,
.airpods:hover,
.ipad-air:hover {
    transform: scale(1.08);
}

.apple-watch {
    background: url('../images/home-img/apple-watch.jpg') no-repeat center;
}

.ipad-air {
    background: url('../images/home-img/ipad-air.jpg') no-repeat center;
}

.airpods {
    background: url('../images/home-img/airpods-pro.jpg') no-repeat center;
}
/* danh sách lợi ích */
.benefits__list {
    overflow-x: scroll;
    flex-wrap: nowrap;
    display: flex;
    padding-bottom: 20px;
    scroll-behavior: smooth;
}

.benefits__list::-webkit-scrollbar {
    height: 0;
}

.scroll-btn-wrap {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2%;
    border-bottom: 2px solid #0056b3;
}

.scroll-btn {
    width: 40px;
    height: 40px;
    background-color: #dedede;
    border-radius: 50%;
    border: none;
    color: #333;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 50px;
}

.scroll-btn:hover {
    background-color: #bbb;
}

.left-btn {
    margin-right: 24px;
}

.right-btn {
    margin-right: 5%;
}

.benefit__item {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    margin: 40px 20px;
    display: inline-block;
    border-radius: 20px;
    transition: transform .5s;
}

.benefit__item:hover {
    transform: scale(1.1);
    animation: linear .2s;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.benefit__wrap {
    padding: 30px;
    width: 320px;
    height: 244px;
}

.benefit__wrap p {
    font-size: 2.2rem;
    font-weight: 600;
    width: 100%;
    margin-top: 16px;
}

.box-btn:focus {
    box-shadow: none;
    border: none;
}

.benefit__title {
    font-size: 4.5rem;
    margin-left: 28px;
    margin-top: 36px;
}

.wrap-box {
    max-width: 800px !important;
}

.benefits-box {
    padding: 60px 50px;
    border-radius: 24px;
}

.benefits-box__title {
    font-size: 2rem;
    font-weight: 500;
}

.benefits-box__content {
    font-size: 5.5rem;
    font-weight: 600;
    line-height: 6.2rem;
    margin-top: 12px;
}

.benefits-box__subcontent {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 20px;
}

.modal.fade .modal-dialog {
    transition: transform 0.8s ease;
}

.modal.show .modal-dialog {
    transform: translate(0, 0);
}

