* {
    padding: 0;
    margin: 0;
    font-family: 'Mulish', sans-serif;
}

:root {
    --primary-blue: #0d6efd;
    --text-color: #000;
    --white-color: #fff;
    --border-color: #dbdbdb;
    --text-color: #333;
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --box-shadow-hover: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    --border-radius: 20px;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    overflow-x: hidden;
}

body {
    background-color: #f5f5f7;
    overflow: hidden;
}
.app {
    margin-top: 5rem;
}
/* Cuộn lên đầu trang */
#cuondau {
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 48px;
    right: 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 24px;
    transition: background-color 0.3s;
    z-index: 10;
}


#cuondau:hover {
    background-color: #0056b3;
}

/*dau*/
.navbar {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    backdrop-filter: saturate(180%) blur(20px);
    background: rgba(251, 251, 253, .8);
}

.header__more i:hover,
.auth-form-btn:hover,
.nav-link:hover {
    opacity: .7;
}