:root {
    --mau-nen: #ffffff;
    --mau-xam-nhat: #f5f5f7;
    --mau-vien: #d2d2d7;
    --mau-chu: #1d1d1f;
    --mau-xanh: #0066cc;
}

body {
    margin: 0;
    font-family: -apple-system, sans-serif;
    color: var(--mau-chu);
    background-color: var(--mau-nen);
}

.app { 
    max-width: 1440px; 
    margin: 0 auto;
    overflow: hidden; 
}

/* banner */
.banner {
    display: flex;
    background-color: var(--mau-xam-nhat);
    margin: 20px;
    border-radius: 20px;
    align-items: center;
    padding: 40px;
    overflow: hidden;
    position: relative;
}

.noidung { 
    position:absolute;
    padding-left: 10%; 
}
.noidung h1 { 
    font-size: 48px; 
    font-weight: 600;
     margin-bottom: 10px; 
}
.nut_mua { 
    color: var(--mau-xanh); 
    text-decoration: none; 
    font-size: 19px; 
}

.anh_banner img { 
    height: 480px;
    padding-left: 50%;
    display: block; 

}

/* thanh tim kiem */
.timkiem {
    text-align: center;
    padding: 40px 20px;
}

.thanh_timkiem {
    position: relative;
    max-width: 600px;
    margin: 0 auto 30px;
}

.thanh_timkiem input {
    width: 100%;
    padding: 15px 40px;
    border-radius: 12px;
    border: 1px solid var(--mau-vien);
    background: var(--mau-xam-nhat);
}

.thanh_timkiem i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #86868b;
}
/* menutab */
.tab_btn {
    padding: 10px 20px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    color: #86868b; /* Màu nhạt khi chưa chọn */
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

.tab_btn.active {
    color: #1d1d1f; /* Màu đậm khi đã chọn */
    border-bottom: 2px solid #1d1d1f; /* Gạch chân nút đang chọn */
    font-weight: 600;
}

/* Đảm bảo flexbox luôn hoạt động khi hiện tab */
.ul_tab {
    display: flex; /* Mặc định là flex */
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
/* tab */
.cac_tab {
    padding: 40px 20px;
    background-color: #fff;
}

.tab_menu {
    max-width: 1000px;
    margin: 0 auto;
}

.ul_tab {
    display: flex;
    flex-wrap: wrap;     
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 30px;  
}

.tab_item {
    flex: 0 0 120px;       /* Cố định độ rộng 120px mỗi mục để đều nhau */
}

.a_tab {
    text-decoration: none;
    color: #1d1d1f;    
    display: block;
    transition: transform 0.3s ease;
}

.tab {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
   
}

.tab img {
    width: 78px;        
    height: 78px;
    object-fit: contain;
    margin-bottom: 15px;
    border: 2px solid #86868b;
    border-radius: 50%;
}

/* Định dạng chữ */
.tab p {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

.a_tab:hover {
    transform: translateY(-5px); 
}

.a_tab:hover p {
    color: #0066cc; 
}

.tab_tl {
    display: none;
}
